body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 0;
  background-color: #141414;
  margin: 0;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  main {
    position: relative;
    height: 100vh;
  }
  .container {
    margin: 0 auto;
    max-width: 1920px;
  }
}
html {
  height: 100%;
}
/* Define minimum font size */
html {
  font-size: 1rem;
}

/* Define breakpoints and font sizes */

@media  (max-width: 768px) {
  html {
    font-size: .9rem;
  }
}

/* Define max font size and viewport */
@media (min-width: 1280px) and (max-width: 1399px) {
  html {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1400px) and (max-width: 1699px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1700px) and (max-width: 1920px) {
  html {
    font-size: 1.1875rem;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 1.25rem;
  }
}
body {
  min-height: 100%;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
button,
select,
h1,
h2,
h3,
h4,
span,
p,
img,
a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.input-container {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  .label-name {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0.6rem 2.2rem;
    transition: transform 0.2s ease-in-out;
    font-weight: 300;
    font-size: 1.1em;
    left: 0;
  }

  &:not(.textarea) {
    .label-name {
      display: flex;
      align-items: center;
    }
  }
  &.textarea {
    .label-name {
      top: 0;
      padding: 0.6rem;
    }
    height: 10rem;
  }

  .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding-left: 0.6rem;
    width: 100%;
    height: 100%;
    color: #fff;
    &.text {
      .label-name {
        transform: scale(1.05) translate(-2.2rem, -2.2rem);
      }
    }

    border-bottom: solid 1px white;
    opacity: 0.6;
    transition: all linear 0.2s;
    .label {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      -webkit-box-align: center;

      -ms-flex-align: center;

      align-items: center;
      margin-right: 0.3rem;
    }
  }
  &.textarea .input {
    &.text {
      .label-name {
        transform: scale(1.05) translate(-0.6rem, -2rem);
      }
    }
  }
  textarea,
  input {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    z-index: 2;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 0 1rem;
    font-size: 1.2em;
    font-weight: 300;
    border: none;
    &:focus + .input {
      opacity: 1;
      border-color: $primary-color;
      .label-name {
        transform: scale(1.05) translate(-2.2rem, -2.2rem);
      }
    }
    background: none;
    outline: 0;
  }
  textarea {
    resize: none;
    min-height: 10rem;
    &:focus + .input {
      opacity: 1;
      .label-name {
        transform: scale(1.05) translate(-0.6rem, -2rem);
      }
    }
  }
  input {
    padding-left: 2.2rem;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
      transition: all 5000s ease-in-out 0s;
      transition-property: background-color, color !important;
    }
  }
}

.btn {
  color: #ffffff;
  font-weight: 400;
  width: auto;
  position: relative;
  font-size: 1em;
  height: fit-content;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border: 1px solid white;
  outline: none;
  z-index: 2;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }
  &:focus {
    opacity: 0.7;
  }
}
