.layout {
  position: relative;
  height: 100%;
  overflow: hidden;
  .ps__rail-y {
    .ps__thumb-y {
      background-color: $primary-color;
    }
    &:hover > .ps__thumb-y,
    &:focus > .ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: $primary-color;
      width: 6px;
    }
  }
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: transparent;
  }
  .layout-wrapper {
    position: relative;
    height: 100%;
    padding: 0;
    margin-left: 5rem;
    z-index: 2;
    @media (max-width: 768px) {
      margin-left: 0;
    }

  }
}
